body {
    background-color: #2e5169;
    text-shadow: 1px 1px rgb(206, 111, 111);;
    color: #FDD6D6;
}

.ui.form .field>label {
    text-shadow: 1px 1px rgb(206, 111, 111);;
    color: #FDD6D6 !important;
}

.googleButton {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.pigPink, .primary {
    background-color: #FDD6D6 !important;
    color: white !important;
}

.buttonDiv {
    position: absolute;
    bottom: 0;
    padding-bottom: 10%;
}

#modal {
    color: black;
    text-shadow: none;
}
